<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>
    <div th:insert="fragments/menus.html :: menuPrincipal"></div>

    <h1>Estrellas</h1>
    <a th:href="@{/estrella/search}">Buscar</a>

    <table class="entity-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>CoordenadaX</th>
                <th>CoordenadaY</th>
                <th>CoordenadaZ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${estrella}" th:if="${p.id}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.coordenadaX}"></td>
                <td th:text="${p.coordenadaY}"></td>
                <td th:text="${p.coordenadaZ}"></td>
                <td>
                    <a th:href="@{/estrella/view/{id}(id=${p.id})}">Ver</a>
                
                </td>
                <td>
                    <a th:href="@{/estrella/edit-form/{id}(id=${p.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/estrella/delete/{id}(id=${p.id})}">Eliminar</a>
                </td>
                <td th:if="${p.planetas != null and p.planetas.size() > 0}">
                    <a th:href="@{/estrella/planeta-list/{id}(id=${p.id})}">Ver planetas</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/estrella/create}">Crear estrella</a>
</body>

</html>