<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>
    <div class="formcontainer">
        <h1>Estrella</h1>
        <form action="#" th:action="@{/estrella/update}" th:object="${estrella}" method="post">
            <input type="hidden" th:field="*{id}" id="id">
            <label for="Coordenada X">CoordenadaX: </label>
            <input type="text" th:field="*{CoordenadaX}" id="estrellaCoordenadaX">
            <span th:if="${#fields.hasErrors('CoordenadaX')}" th:errors="*{CoordenadaX}"
                th:class="${#fields.hasErrors('CoordenadaX')} ? 'error' : ''"></span>
            <label for="estrellaCoordenadaY">Coordenada Y: </label>
            <input type="text" th:field="*{CoordenadaY}" id="estrellaCoordenadaY">
            <span th:if="${#fields.hasErrors('CoordenadaY')}" th:errors="*{CoordenadaY}"
                th:class="${#fields.hasErrors('CoordenadaY')} ? 'error' : ''"></span>
            <label for="estrellaCoordenadaZ">Coordenada Z: </label>
            <input type="text" th:field="*{CoordenadaZ}" id="estrellaCoordenadaZ">
            <span th:if="${#fields.hasErrors('CoordenadaZ')}" th:errors="*{CoordenadaZ}"
                th:class="${#fields.hasErrors('CoordenadaZ')} ? 'error' : ''"></span>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <a th:href="@{/estrella/list}">Cancelar</a>
</body>

</html>