<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>
    <div class="formcontainer">
        <h1>Tipo Nave</h1>
        <form action="#" th:action="@{/tipoNave/save}" th:object="${tipoNave}" method="post">
            <input type="hidden" th:field="*{id}" id="id">
            <label for="nombre">Nombre: </label>
            <input type="text" th:field="*{nombre}" id="nombre">
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                th:class="${#fields.hasErrors('nombre')} ? 'error' : ''"></span>
            <label for="volumenCarga">Volumen Carga: </label>
            <input type="text" th:field="*{volumenCarga}" id="volumenCarga">
            <span th:if="${#fields.hasErrors('volumenCarga')}" th:errors="*{volumenCarga}"
                th:class="${#fields.hasErrors('volumenCarga')} ? 'error' : ''"></span>
            <label for="velocidad">Velocidad: </label>
            <input type="text" th:field="*{velocidad}" id="velocidad">
            <span th:if="${#fields.hasErrors('velocidad')}" th:errors="*{velocidad}"
                th:class="${#fields.hasErrors('velocidad')} ? 'error' : ''"></span>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <a th:href="@{/tipoNave/list}">Cancelar</a>
</body>

</html>